label {
    padding: 10px;
    display: block;
}

h2 {
    padding: 1em;
}

button {
    padding: 1em;
    background-color: #e63946;
    color: #f1faee;
    border: transparent;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 40px auto 10px auto;
    font-family: "Rubik";
}

input {
    padding: 5px;
}