.card {
  border: rgba(20, 16, 3, 0.4) solid 2px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(190, 31, 31, 0.3);
  width: 500px;
  /* min-width: 400px; */
  min-height: fit-content;
  /* max-height: 620px; */
  box-sizing: border-box;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0 auto;
}
ol li {
  counter-increment: my-awesome-counter;
  font-size: 0.6rem;
  /* margin-left: -25px; */

}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 1rem;
  margin-right: 10px;
  line-height: 1.5;
  padding: 2px;
}


@media screen and (max-width: 500px) {
  .card {
    width: 90%
    /* max-height: 620px; */
  }
}

