.card {
  display: relative;
  border: rgba(20, 16, 3, 0.4) solid 2px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  width: 700px;
  height: fit-content;
  box-sizing: border-box;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0 auto;
}
ol li {
  counter-increment: my-awesome-counter;
  font-size: 1.4rem;
  /* margin-left: -25px; */
}
ol li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 1rem;
  margin-right: 10px;
  line-height: 1.5;
  padding: 2px;
}

@media screen and (max-width: 800px) {
  .card {
    width: 90%;
    height: fit-content;
  }
}

